/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #343a40;
  padding: 20px 0;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  background-image: url('img/Alpha_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 150px;
  height: 40px;
}

.navbar-toggler-icon {
  color: #fff;
}

.navbar-toggler {
  border: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-item {
  cursor: pointer;
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  font-weight: bold;
  text-decoration: none !important;
}

.nav-link:hover {
  color: #f8f9fa;
}

/* Specific Page Styles */
.product {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  flex: 1 0 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
}

/* Footer Styles */
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
